<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
    <title>Bookity</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.min.css}" />
  </head>

  <body>
    <div class="container">

        <div class="row" style="margin: 15%;" >
            <div class="col-xs-8">
            <h3>Login</h3>

            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>


        <form th:action="@{/login}" method="post">
            <div class="control-group">
            <label class="control-label" for="username">Username:</label>
              <div class="controls">
              <input type="text" id="username" name="username"/>
              </div>
            </div>

            <div class="control-group">
            <label class="control-label" for="password">Password:</label>
              <div class="controls">
              <input type="password" id="password" name="password"/>
              </div>
            </div>

            <div class="control-group" style="margin: 10px;">
              <div class="controls">
              <button type="submit" class="btn btn-primary">Sign In</button>
              </div>
            </div>
        </form>
    </div>
</div>
</div>
</body>
</html>